.totalblur{
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.966);
    filter: blur(0px);
    position:fixed;
    z-index: 10;
}
.totalblur img{
position:fixed;
top: 180px;
left: 500px;


}